@import url("https://fonts.google.com/icons");

body{
    font-size: 16px;
    color: aliceblue;
    font-family: monospace;

}

.container-fluid{

    background-image: linear-gradient( to right, rgb(97, 81, 52), rgb(26, 21, 11));
    color: aliceblue;
    font-family: monospace;

}

#margem{

    background-image: linear-gradient( to right, rgb(26, 21, 11), rgb(97, 81, 52));
    color: aliceblue;
    font-family: monospace;

}

#margem2{

    background-image: linear-gradient( to right, rgb(26, 21, 11), rgb(97, 81, 52));
    color: aliceblue;
    font-family: monospace;

}

#inicio{

    color: aliceblue;
    font-family: monospace;

}

#sobre{

    color: aliceblue;
    font-family: monospace;

}

#quem{

    background-image: linear-gradient( to right, rgb(97, 81, 52), rgb(26, 21, 11));
    color: aliceblue;
    font-family: monospace;

}

#contate{

    background-image: linear-gradient( to right, rgb(97, 81, 52), rgb(26, 21, 11));
    color: aliceblue;
    font-family: monospace;

}

#mia{

    color: aliceblue;
    font-family: monospace;

}

#botao{

    color: aliceblue;

}

#pesquisar{

    background-image: linear-gradient( to right, rgb(97, 81, 52), rgb(26, 21, 11));
    color: aliceblue;
    font-family: monospace;

}

#sobre{

color: aliceblue;
font-family: monospace;

}

#quem{

background-image: linear-gradient( to right, rgb(97, 81, 52), rgb(26, 21, 11));
color: aliceblue;
font-family: monospace;

}

#contate{

background-image: linear-gradient( to right, rgb(97, 81, 52), rgb(26, 21, 11));
color: aliceblue;
font-family: monospace;

}

#mia{

color: aliceblue;
font-family: monospace;

}

#botao{

color: aliceblue;

}

#pesquisar{

background-image: linear-gradient( to right, rgb(97, 81, 52), rgb(26, 21, 11));
color: aliceblue;
font-family: monospace;

}